<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <form [formGroup]="passwordResetForm" (ngSubmit)="onEmailSubmit()" class="col col-lg-6" *ngIf="step==0">
                <p><strong>A verification code will be sent to your email after submission</strong></p>
                <input type="email" formControlName="email" name="email" class="form-control"
                    placeholder="Enter your email">
                <button type="submit" class="btn btn-info" [disabled]="this.passwordResetForm.invalid">Send
                    Code</button>
            </form>
            <form class="col col-lg-6" *ngIf="step==1">
                <p><strong>Enter your verification code that has been sent to your email</strong></p>
                <input type="text" [(ngModel)]="token" name="token" class="form-control"
                    placeholder="Enter Verification Token">
                <input type="password" [(ngModel)]="password" name="password" class="form-control"
                    placeholder="Enter New Password">
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control"
                    placeholder="Confirm Password">
                <button type="submit" class="btn btn-info" (click)="onCodeSubmit()">Verify Token</button>
            </form>
            <!-- Footer -->
            <p class="small text-muted">Copyright© 1998-2021 DataSoft Systems Bangladesh Limited</p>
            <!-- Footer -->
        </div>
    </div>
</div>