<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <h2 class="display-4">Shipment List</h2>
      <div class="col-2 mx-auto">
        <div class="form-group">
          <select class="form-control" (change)="onShipmentStatusChange($any($event.target).value)">
            <option selected value="">All</option>
            <option value="shipped">Shipped</option>
            <option value="received">Received</option>
          </select>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Shipping Date</th>
            <th scope="col">Shipping Code</th>
            <th scope="col">Destination Address</th>
            <th scope="col">Destination Contact</th>
            <th scope="col">Shipment Agent</th>
            <th scope="col">Agent Contact</th>
            <th scope="col">Total Crate</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipment of filteredShipments | slice: (page-1)*pageSize : (page-1)*pageSize + pageSize">
            <td>{{shipment.shipping_datetime}}</td>
            <td>
              <a (click)="openDialog(shipment.shipping_code)">{{shipment.shipping_code}}</a>
            </td>
            <td>{{shipment.destination_address}}</td>
            <td>{{shipment.destination_contact}}</td>
            <td>{{shipment.shipping_agent}}</td>
            <td>{{shipment.shipping_contact}}</td>
            <td>{{shipment.total_no_of_crate}}</td>
            <td>{{shipment.status}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <ngb-pagination [pageSize]="pageSize" [collectionSize]="filteredShipments.length" [(page)]="page" [directionLinks]="false"></ngb-pagination>
    </div>
  </div>
</div>