.display-4 {
    color: grey;
  }
  .col-4 {
    text-align: center;
  }
  
  .btn-primary {
    margin: 4%;
  }
  
  div.list-group {
    margin: 2%;
    text-align: center;
  }
  
  li.list-group-item {
    padding: 0%;
    text-align: center;
    width: 50%;
    margin-left: 30%;
  }
