<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-6 mx-auto">
            <h2 class="display-4">Edit User Info</h2>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name"><strong>Name</strong> </label>
                        <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label for="nid"><strong>NID</strong></label>
                        <input [(ngModel)]="nid" type="text" class="form-control" placeholder="NID" value="{{nid}}">
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="email"><strong>Email</strong></label>
                        <input [(ngModel)]="email" type="text" class="form-control" placeholder="Email"
                            value="{{email}}">
                    </div>


                    <div class="form-group">
                        <label for="phone_number"><strong>Phone</strong></label>
                        <input [(ngModel)]="phone_number" type="text" class="form-control" placeholder="Phone Number"
                            value="{{phone_number}}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="address"><strong>Address</strong></label>
                        <input [(ngModel)]="address" type="text" class="form-control" placeholder="Address"
                            value="{{address}}">
                    </div>
                </div>
                <div class="col text-center">
                    <a class="btn btn-info" (click)="saveInfo()">Save Info</a>
                </div>
            </div>
        </div>
    </div>
</div>