<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-4 mx-auto">
            <h2 class="display-4">User Profile</h2>
            <div class="row">
                <div class="col-6">
                    <h6>Name</h6>
                    <p>{{name}}</p>
                    <h6>Role</h6>
                    <p>{{role_name}}</p>
                    <h6>Production House</h6>
                    <p>{{production_house}}</p>
                    <h6>Address</h6>
                    <p>{{address}}</p>
                </div>
                <div class="col-6">
                    <h6>Email</h6>
                    <p>{{email}}</p>
                    <h6>NID</h6>
                    <p>{{nid}}</p>
                    <h6>Phone</h6>
                    <p>{{phone_number}}</p>
                </div>
                <div class="col text-center">
                    <a class="btn btn-info" [routerLink]="['/user/edit']">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>